* {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: #f7fbf9;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    background-color: #503224;
;
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left img{
    width: 140px;
    height: 60px;
    margin-right: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left > * {
    padding: 10px;
}